module sw_selinux_vault_db 1.0;

require {
        type init_t;
        type unlabeled_t;
        class file write;
}

#============= init_t ==============
allow init_t unlabeled_t:file write;

