module sw_selinux_init_port 1.0;

require {
        type init_t;
        type trivnet1_port_t;
        class tcp_socket name_connect;
}

#============= init_t ==============
allow init_t trivnet1_port_t:tcp_socket name_connect;
