module sw_selinux_vault 1.0;

require {
        type user_home_t;
        type init_t;
        class file execute;
}

#============= init_t ==============
allow init_t user_home_t:file execute;
