module sw_selinux_home_notrans 1.0;

require {
        type user_home_t;
        type init_t;
        class file execute_no_trans;
}

#============= init_t ==============
allow init_t user_home_t:file execute_no_trans;

