module sw_selinux_vault_unlink 1.0;

require {
        type unlabeled_t;
        type init_t;
        class file unlink;
}

#============= init_t ==============
allow init_t unlabeled_t:file unlink;

