module sw_selinux_vault_file 1.0;

require {
        type init_t;
        type unlabeled_t;
        class file create;
}

#============= init_t ==============
allow init_t unlabeled_t:file create;

